.row-wrap {
	width: calc(100% - 4rem);
	margin: 4rem auto 0 auto;
	color: white;

	h2 {
		font-weight: bold;
		font-size: 1.8rem;
		padding-bottom: 1rem;
	}
}
.row-poster {
	object-fit: contain;
	width: 100%;
	transition: transform 450ms;
	transform: scale(0.9);
	border-radius: 4px;
	&:hover {
		transform: scale(1);
	}
}
.swiper {
	position: relative;
	padding-bottom: 1rem;
	.swiper-button-next,
	.swiper-button-prev {
		color: #fff;
		height: 80%;
		width: 4rem;
		height: 6rem;

		margin: 0;
		border-radius: 1rem;
		transform: translateY(-50%);
		transition: all 0.3s;
		&::after {
			font-size: 3rem;
		}
		&:not(.swiper-button-disabled):hover {
			background: rgba(0, 0, 0, 0.5);
			color: red;
		}
	}
	.swiper-button-next {
		right: 0;
	}
	.swiper-button-prev {
		left: 0;
	}

	.swiper-pagination {
		bottom: 0 !important;
		.swiper-pagination-bullet-active {
			background: red;
		}
	}
}
/*
.slider {
	position: relative;
	.arrow-left,
	.arrow-right {
		background-clip: content-box;
		padding: 20px 0;
		box-sizing: border-box;
		transition: 400ms all ease-in-out;
		cursor: pointer;
		width: 80px;
		z-index: 1000;
		position: absolute;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		// visibility: hidden;
	}
	.arrow-left {
		left: 0;
	}
	.arrow-right {
		right: 0;
	}
}

.arrow {
	transition: 400ms all ease-in-out;
}
.arrow:hover {
	transition: 400ms all ease-in-out;
	transform: scale(1.5);
}
.slider:hover .arrow-left {
	transition: 400ms all ease-in-out;
	visibility: visible;
}
.slider:hover .arrow-right {
	transition: 400ms all ease-in-out;
	visibility: visible;
}
.arrow-left:hover {
	background: rgba(20, 20, 20, 0.5);
	transition: 400ms all ease-in-out;
}
.arrow-right:hover {
	background: rgba(20, 20, 20, 0.5);
	transition: 400ms all ease-in-out;
}

.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px 0 20px 20px;
	scroll-behavior: smooth;
}
.row__posters::-webkit-scrollbar {
	display: none;
}
.row__poster {
	object-fit: contain;
	width: 100%;
	max-height: 144px;
	margin-right: 10px;
	transition: transform 450ms;
	border-radius: 4px;
}
.row__poster:hover {
	transform: scale(1.08);
}
.row__posterLarge {
	max-height: 320px;
}
.row__posterLarge:hover {
	transform: scale(1.1);
	opacity: 1;
}

.row__arrow-left {
	position: absolute;
	top: 0;
	left: 20px;
	height: 100%;
	width: 32px;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
}
.row__arrow-right {
	position: absolute;
	top: 0;
	right: 0px;
	height: 100%;
	width: 32px;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
}
@media screen and (min-width: 1200px) {
	.row__poster {
		max-height: 160px;
	}
	.row__posterLarge {
		max-height: 360px;
	}
}
@media screen and (max-width: 768px) {
	.row__poster {
		max-height: 100px;
	}
	.row__posterLarge {
		max-height: 280px;
	}
}

*/
